<div class="detail-container">
  <img class="img-circle" src="{{this.image}}" alt="{{name}}" height="880" width="880">
  <h1 class="detail-name">{{name}}</h1>
  <p class="detail-body">{{details}}</p>
</div>