<div class="container">
  {{#each people}} {{!-- reference cohort array --}}
  <div class="cohort-list">
    <a href="/details/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <p>{{name}}</p>
  </div>
  {{/each}}
</div>