<div class="container">
  {{#each cohort}} //reference cohort array
  <div class="cohort-list">
    <a href="/details/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>
